$anim-dur-appear : 1000ms;

@keyframes appear {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(0)
    }

}

.menu__stage {
    animation: appear $anim-dur-appear both;

    @for $i from 0 through 2 {
        &--#{$i} {
            animation-delay: $anim-dur-appear * $i/4;
        }
    }
}