.menu__stage__courses{
    &:hover > .menu__stage__courses__select{
        min-width: 66px;
    }    
    &:hover >  i{
        transform: translateX(-66px) rotateZ(360deg) ;
    }
    &__select{
        display: flex;
        background-color: $colour-tetiary;
        min-width: 0px;
        width: 0px;
        height: 100%;
        color: white;
        font-size: 24px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        transition: min-width  500ms;
    }
    & i {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        top: 21px ;
        right: -45px;
        font-size: 24px;
        transform: translateX(0) rotateZ(0deg) ;
        transition: transform  500ms;
        color: white;
    }
}
