.spinner {
  position: fixed;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  gap: 1rem;
  opacity: 0;
  cursor: wait;
  animation: display-none 3000ms;

}

.spinner__square {
  padding-right: 3px;
  vertical-align: middle;
  font-size: 100px;
  font-weight: 900;
  color: $colour-primary;
  transform: rotate(0deg);
  animation: rotate 1000ms linear 3;
}

@keyframes display-none {
  0% {
    opacity: 1;
    visibility: visible;
  }

  95% {
    opacity: 1
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}