.container {
    @include desktop-only {
        padding-left: 40px;
        padding-right: 40px;
    }
}


.place{
    display: flex;
    background-color: $colour-place-bg;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: "roboto";

    &__icon{
        font-size: 19px;
        margin-right: 20px;
    }
    &__heading{
        font-family: "roboto";
        font-size: 1.3em;
    }
    @include desktop-only {
        max-width: 1440px;
        margin: auto;
        margin-top: 40px;
        border-radius: 15px;
    }

}

.explore{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: $colour-explore-bg;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    &__heading{
        width: 95%;
    }

    &__byline{
        font-size: 1.3em;
        font-weight: 200;
        margin-top: 10px;
        margin-bottom: 40px;
        width: 95%;
    }
    &__btn{
        @include btn;
    }
    @include desktop-only {
        flex-direction: row;
        text-align: left;
        padding-bottom: 40px;
        max-width: 1440px;
        margin: auto;
        margin-top: 40px;
        border-radius: 15px;

        &__heading{
            text-align: left;
            width: 100%;
            margin-left: 20px;
        }
        &__byline{
            width: 50%;
            margin-bottom: 0px;
            margin-left: 20px;
        }
        &__btn{
            position: relative;
            left: 120px;
            bottom: 20px;
        }
    
        }

}

.fonctionnement{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    padding-left: 28px;
    gap: 25px;
    flex-wrap: wrap;
    &__heading{
        margin-left: -12px;
    }
    @include tablet-only {
        flex-direction: row;
        &__heading{
            width: 100%;
            text-align: center;
        }
    }
    @include desktop-only {
        max-width: 1440px;
        justify-content: center;
        padding-left: 0px;
        &__heading{
            text-align: left;
            margin-left: 20px;
        }
    }

}

.fonctionnement-btn{
    display: flex;
    background-color: $colour-explore-bg;
    width: 94%;
    height: 80px;
    align-items: center;
    @include btn-shadow();
    border-radius: 20px;
    &__icon{
        margin-left: 8px;
        color: rgb(126, 126, 126);
        font-size: 20px;
    }
    &__text{
        margin-left: 20px;
        font-weight: bold;
        color: black;
    }
    &:hover{
        background-color: lighten( $colour-primary,  36%);
        @include btn-shadow(darken($colour-ombre,10%));
        & .icon--hover{
            color: $colour-primary;
        }
    }
    @include tablet-only {
        width: 30%;
    }
    @include desktop-only {
        width: 31%;
    }   
}

.number {
    @include number-fct($num-fct)
}

.list-restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: $colour-explore-bg;
    flex-wrap: wrap;
    &__heading{
        margin-bottom: 20px;
    }
    @include tablet-only {
        flex-direction: row;
        justify-content: space-evenly;

        &__heading{
            width: 100%;
            text-align: center;
        }
    }
    @include desktop-only {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1440px;
        border-radius: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 40px;
        &__heading{
            width: 100%;
            text-align: left;
            margin-left: 20px;
        }
    }

}

.card-restaurants{
    width: 89%;
    background-color: white;
    border-radius: 15px;
    @include btn-shadow();
    margin-bottom: 20px;
    position: relative;
    &__img{
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        height: 180px;
        object-fit: cover;
        object-position: center 63%;
    }
    &__new{
        display: none;
        position: relative;
        top: 50px;
        &--display:before{
            content: "Nouveau";
            display: block;
        }
    }
    @include tablet-only {
        width: 45%;
    }
    @include desktop-only {
        width: 22%;
    }


}

.description-card-restaurant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 15px 15px;
    &__heart{
        font-size: 30px;
    }
}

.new:after{
    content: "Nouveau";
    color: darken($color: $colour-tetiary, $amount: 40%);
    font-weight: bold;
    width: 90px;
    height: 30px;
    background-color: $colour-tetiary;
    top: 15px;
    right: 15px;
    z-index: 99;
    position:absolute ;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}