@mixin btn-shadow($colour:$colour-ombre){
    box-shadow: 0px 3px 7px $colour;
    
}

@mixin btn {
    display: block;
    display: flex;
    height: 55px;
    min-width: 210px;
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient($colour-secondary, $colour-primary);
    color: white;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: 0px;
    font-size: 1.1em;
    @include btn-shadow();
    &:hover{
        background: linear-gradient(lighten($colour-secondary,4%),lighten($colour-primary,4%));
        @include btn-shadow(darken($colour-ombre,10%));
    }
}

@mixin number-fct($map){
    @each $number, $val in $map {
        &-#{$number}:before {
            content: $val;
            position: relative;
            background: $colour-primary;
            height: 24px;
            width: 24px;
            border-radius: 12px;
            text-align: center;
            line-height: 24px;
            color: white;
            right: 12px;
        }
    }
}