$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tetiary: #99E2D0;
$colour-ombre: rgb(190, 190, 190);
$colour-place-bg:#eaeaea;
$colour-explore-bg : #f7f7f7;
$num-fct : (1:"1", 2:"2", 3:"3");
$breakpoints : (desktop:992px, tablet:768px);
